.sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: #f8f9fa;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
}

.sidebar .nav-link.active {
    background-color: #e71945;
    color: #fff;
    border-radius: .375rem;
    padding: 10px;
}

.sidebar .nav-link {
    color: #f56c89;
}

.sidebar .section-name {
    font-weight: 500;
}